@model List<Subject>
@{
    ViewData["Title"] = "School Information";
    Layout= "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>From the partial View</strong>
@foreach (var subject in Model)
{
    <partial name="SimpleSubject" model="subject"/>    
}

<p><i>@ViewData["Date"]</i></p>