@model IEnumerable<Student>
@{
    ViewData["Title"] = "Student Information";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<strong>From the partial View</strong>

<partial name="SchoolObjectList" />

<p><i>@ViewData["Date"]</i></p>