@model School
@{
    ViewData["Title"] = "School Information";
    Layout= "Simple";
}

<h1>School @ViewData["Title"]</h1>
<h2>Name:@Model.Name</h2>
<p>
   <strong>Year of Foundation: @Model.FoundationYear</strong> 
</p>
<p><i>@ViewData["DynamicData"]</i></p>