@model PlatziAspCore.Models.Course

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h2>Edit</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayType" class="control-label"></label>
                <select asp-for="DayType" class="form-control" asp-items="Html.GetEnumSelectList<DayType>()"></select>
                <span asp-validation-for="DayType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolId" class="control-label"></label>
                <select asp-for="SchoolId" class="form-control" asp-items="ViewBag.SchoolList">
                    <option value="">Please select...</option>
                </select>
                <span asp-validation-for="SchoolId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

